main{
    padding-top: 20px;
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.item{
    height: 100%;
    padding: 5px;
    /* border: 1px solid black; */
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.im{
    width: 100%;
}

.price{
    color: red;
}
p, .add{
    text-align: center;
}
button{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: darkgreen;
    color: white;
}
