body{
    background-color: #B9FFF8;
    height: 100%;
}

.item{
    margin: 1%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 20%;
    height: 30%;
    display: inline-block;
    background-color: #F7F6DC;
    background-image: ;
}

.im{
    height: 300px;
    max-width: 100%;
    display: block;
    margin: auto;
}

.price{
    color: red;
}
p, .add{
    text-align: center;
}
button{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: darkgreen;
    color: white;
}
