/* GENERALES */
body, * {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

/* LOGO */
.logo {
    margin: auto;
    display: block;
}
.imagen-encabezado{
    padding-top: 10px;
    padding-bottom: 8px;
    background-color: #F7F6DC;
}


/* NAV BAR */
nav {
    background-color:#FF9551;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 2px solid black;
}
ul{
    display: block;
    text-align: center;
}
li{
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
}
nav li a:link{
    text-decoration: none;
}
nav li a:visited{
    text-decoration: none;
}
nav li a:hover{
    text-decoration: none;
}


