/* GENERALES */
body, * {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
    font-size: 1em;
}

/* LOGO */
.imagen-encabezado{
    margin-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 2px;
}
.logo {
    margin: auto;
    display: block;
}


/* NAV BAR */
nav {
    background-color:aqua;
    border: 1px solid red;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 2px solid black;
}
ul{
    text-align: center;
}
li{
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
}
a{
    text-decoration: none;
    color: rgb(21, 87, 129);
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: black;
    background-color: rgb(14, 220, 189);
}